/
.about-section {
    padding-top: 120px;
    position: relative;
    z-index: 1;
}

@media (max-width: 1199px) {
    .about-section {
        padding-top: 70px;
    }
}

.about-section .round-shape {
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .about-section .round-shape {
        display: none;
    }
}

.about-wrap {
    background-color: var(--rr-color-bg-1);
    max-width: 1710px;
    width: 100%;
    padding: 0 115px 0 150px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow-x: clip;
}

@media (max-width: 1199px) {
    .about-wrap {
        padding: 0 80px 0 80px;
    }
}

@media (max-width: 991px) {
    .about-wrap {
        padding: 0 20px;
    }
}

.about-wrap .shape {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.about-wrap .about-content {
    padding: 120px 0;
}

@media (max-width: 1199px) {
    .about-wrap .about-content {
        padding: 60px 0;
    }
}

.about-wrap .about-content .section-heading .section-title {
    margin-bottom: 30px;
}

.about-wrap .about-content p {
    max-width: 740px;
    width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 1199px) {
    .about-wrap .about-content p {
        max-width: 450px;
    }
}

.about-wrap .about-img-wrap {
    text-align: right;
    position: relative;
    max-width: 620px;
    width: 100%;
    margin-left: auto;
}

@media (max-width: 991px) {
    .about-wrap .about-img-wrap {
        margin-left: 0;
        margin: 0 auto;
    }
}

.about-wrap .about-img-wrap .about-img {
    transform: translateY(-120px);
    position: relative;
    max-width: 507px;
    width: 100%;
    margin-left: auto;
}

@media (max-width: 991px) {
    .about-wrap .about-img-wrap .about-img {
        margin: 0 auto;
        transform: translateY(0px);
    }
}

.about-wrap .about-img-wrap .about-img .img-shape {
    background-color: #3F5AF3;
    mix-blend-mode: multiply;
    content: "";
    width: 90px;
    height: 160px;
    position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0.9;
    z-index: 1;
}

.about-wrap .about-img-wrap .about-img .img-shape img {
    transform-origin: inherit;
}

.about-wrap .about-img-wrap .about-img-2 {
    max-width: 325px;
    width: 100%;
    height: 280px;
    position: absolute;
    bottom: 0;
    left: -30px;
}

.about-wrap .about-img-wrap .about-img-2 img {
    border-right: 10px solid #0B0F15;
    border-top: 10px solid #0B0F15;
    width: 100%;
    height: 100%;
}

.about-wrap .about-text {
    max-width: 660px;
    width: 100%;
    position: absolute;
    left: 18%;
    bottom: 20px;
    z-index: -1;
}

@media (max-width: 991px) {
    .about-wrap-2 {
        flex-direction: column-reverse;
    }
}

.about-img-box {
    position: relative;
    height: 650px;
    max-width: 600px;
    width: 100%;
}

@media (max-width: 991px) {
    .about-img-box {
        margin: 0 auto;
    }
}

.about-img-box .img-1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 430px;
    width: 100%;
    height: 480px;
}

.about-img-box .img-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img-box .img-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 390px;
}

.about-img-box .img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 10px solid #02050A;
    border-left: 10px solid #02050A;
}

.about-img-box .shape {
    position: absolute;
}

.about-img-box .shape.shape-1 {
    max-width: 216px;
    width: 100%;
    height: 185px;
    top: 50px;
    left: -25%;
}

.about-img-box .shape.shape-2 {
    max-width: 340px;
    width: 100%;
    height: 340px;
    top: 100px;
    left: -20%;
}

.about-content-2 {
    padding-left: 50px;
}

@media (max-width: 991px) {
    .about-content-2 {
        padding-left: 0;
        margin-bottom: 30px;
    }
}

.about-content-2 .section-heading .section-title {
    margin-bottom: 40px;
}

.about-content-2 .about-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-bottom: 50px;
    max-width: 645px;
    width: 100%;
}

.about-content-2 .about-items .about-item {
    display: grid;
    align-items: center;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
}

.about-content-2 .about-items .about-item .icon {
    height: 60px;
    width: 60px;
}

.about-content-2 .about-items .about-item .title {
    margin-bottom: 0;
    line-height: 1.5;
}

.about-content-2 .about-items .about-item:hover .icon img {
    animation-name: wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.about-wrap-3 {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 120px 0;
    position: relative;
}

@media (max-width: 767px) {
    .about-wrap-3 {
        padding: 70px 0;
    }
}

.about-wrap-3 .about-text {
    position: absolute;
    top: 70px;
    left: 25%;
    z-index: 1;
}

.about-wrap-3 .about-text .mission {
    color: var(--rr-color-bg-1);
    font-size: 150px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(176, 178, 183, 0.09);
}

@media (max-width: 991px) {
    .about-wrap-3 .about-text .mission {
        font-size: 100px;
    }
}

@media (max-width: 767px) {
    .about-wrap-3 .about-text .mission {
        display: none;
    }
}

.about-contect-15 .about-card {
    display: inline-flex;
    align-items: start;
    gap: 16px;
    padding: 28px;
    padding-bottom: 22px;
    transition: all 0.3s ease;
    background-color: var(--rr-color-bg-1);
    border: 1px solid var(--rr-color-bg-1);
    position: relative;
}

.about-contect-15 .about-card:hover {
    padding-bottom: 40px;
    border-color: var(--rr-color-theme-primary);
}

.about-contect-15 .about-card:hover .about-card-btn {
    opacity: 1;
    pointer-events: none;
}

@keyframes wobble-vertical {
    16.65% {
        transform: translateY(8px);
    }

    33.3% {
        transform: translateY(-6px);
    }

    49.95% {
        transform: translateY(4px);
    }

    66.6% {
        transform: translateY(-2px);
    }

    83.25% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0);
    }
}

.section-heading .sub-heading {
    color: #3fc0f3;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 25px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.section-heading .sub-heading-center {
    color: #3fc0f3;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
.about-section-14 .about-content-4 .heading-3 .section-title {
    font-weight: 800;
    font-size: 62px;
    line-height: 58px;
    text-transform: inherit;
    margin-bottom: 53px;
}
.about-success {
    display: flex;
    align-items: center;
    gap: 29px;
    flex-wrap: wrap;
    border-bottom: 1px solid #2D343E;
    padding-bottom: 30px;
}

 .about-success .about-success-item {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    row-gap: 10px;
}
.about-success .about-success-item .icon {
    width: 85px;
    height: 85px;
    background: #11151C;
    border: 1px solid #2D343E;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-success .about-success-item .content .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--rr-color-common-white);
}
.about-success .about-success-item .content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B0B2B7;
    margin-bottom: 0;
}
.count .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
}
.count .title span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.dec {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3F5AF3;
}